<ng-container *ngIf="loading">
  <h2>Loading ... </h2>
</ng-container>

<ng-container *ngIf="saving">
    <h2>Saving ... </h2>
</ng-container>
<ng-container *ngIf="error">
    <h2>{{error.message}}</h2>
</ng-container>
<ng-container *ngIf="canEdit()">
  <div class="row mb-3 mt-3">
    <h1 *ngIf="!id == 0">Edit product</h1>
    <h1 *ngIf="id == 0">Create product</h1>
  </div>
  <form class="form-horizontal"
    novalidate
    [formGroup]="productForm">
    <fieldset>
      <div class="form-group" >
          <label class="control-label" for="imageUrl">Product Image</label>
          <input class="form-control" 
                  id="imageUrl" 
                  type="text" 
                  placeholder="Image url" 
                  formControlName="imageUrl" />
      </div>

      <div class="form-group" >
        <label class="control-label" for="productName">Product Name</label>
        <input class="form-control"
                id='productName' 
                type="text"
                placeholder="Name (required)" 
                formControlName="productName" required />
          <div *ngIf="productForm.controls.productName.invalid && (productForm.controls.productName.dirty || productForm.controls.productName.touched)"
          class="alert alert-danger">
          <div *ngIf="productForm.controls.productName.errors.required">
              Product name is required.
            </div>
            <div *ngIf="productForm.controls.productName.errors.minlength">
              Product name must be at least 3 characters long.
            </div>
          </div>
      </div>

      <div class="form-group row" >
        <div class="col-md-6">
            <label class="control-label" for="productCodeId">Product Code</label>
            <input class="form-control" 
                    id="productCodeId" 
                    type="text" 
                    placeholder="Code (required)" 
                    formControlName="productCode" required/>
            <div *ngIf="productForm.controls.productCode.invalid && (productForm.controls.productCode.dirty || productForm.controls.productCode.touched)"
            class="alert alert-danger">
            <div *ngIf="productForm.controls.productCode.errors.required">
                Product code is required.
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label" for="priceId">Available</label>
            <input class="form-control" 
            id="dateId" 
            type="date"
            placeholder="Available" 
            formControlName="releaseDate" />
            <div *ngIf="productForm.controls.releaseDate.invalid && (productForm.controls.releaseDate.dirty || productForm.controls.releaseDate.touched)"
            class="alert alert-danger">
            <div *ngIf="productForm.controls.releaseDate.errors.required">
              Available date is required.
              </div>
            </div>
        </div>
      </div>

   
      <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label" for="priceId">Price</label>
            <input class="form-control" 
              id="priceId" 
              type="number"
              placeholder="Price" 
              formControlName="price" />
              <div *ngIf="productForm.controls.price.invalid && (productForm.controls.price.dirty || productForm.controls.price.touched)"
              class="alert alert-danger">
              <div *ngIf="productForm.controls.price.errors.min">
                Price should not be less than 0.
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <label class="control-label" for="starRatingId">Rating (1-5)</label>
            <input class="form-control" 
                    id="starRatingId" 
                    type="number"
                    min="1" 
                    max="5"
                    step="1" 
                    placeholder="Rating" 
                    formControlName="starRating" />
            <div *ngIf="productForm.controls.starRating.invalid && (productForm.controls.starRating.dirty || productForm.controls.starRating.touched)"
                    class="alert alert-danger">
              <div *ngIf="productForm.controls.starRating.errors.range">
                Rate the product between 1 (lowest) and 5 (highest).
              </div>
            </div>
        </div>
      </div>

      <div class="form-group">
          <label class="control-label" for="descriptionId">Description</label>
          <textarea class="form-control" 
                  id="descriptionId" 
                  placeholder="Description"
                  rows=3
                  formControlName="description"></textarea>
      </div>

      <div formArrayName="tags">
          <label class="control-label">Tags</label>
          
          <div class="form-group row">
              <div class="col-md-3 col-md-3 mb-3"
                *ngFor="let tag of tags.controls; let i=index">
                <div class="input-group">
                  <input class="form-control" 
                    [id]="i" 
                    type="text" 
                    placeholder="Tag" 
                    [formControlName]="i" />
                    <div class="input-group-append">
                      <button 
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="removeTag(tag, tags.controls); $event.stopPropagation(); $event.preventDefault();">-</button>
                    </div>
                </div>
            </div>
          </div>

          <div class="text-right">
              <button class="btn btn-primary btn-sm"
                      type="button"
                      (click)="addTag()">Add Tag
              </button>
          </div>
      </div>
    
    </fieldset>
  </form>

  <hr>
  
  <div class="row pt-4">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-danger mr-3" [routerLink]="['/list']">Cancel</button>
        <button type="button" class="btn btn-primary" *ngIf="!id == 0" [disabled]='!this.productForm.dirty || !this.productForm.valid' (click)="updateProduct()">Save</button>
        <button type="button" class="btn btn-primary" *ngIf="id == 0" [disabled]='!productForm.valid' (click)="createProduct()">Create</button>
      </div>
  </div>

</ng-container>