<div class="row mb-3 mt-3">
  <h1>Product list</h1>
</div>

<ng-container *ngIf="loading">
  <h2>Loading ... </h2>
</ng-container>
<ng-container *ngIf="!loading">
  <div class="row border-bottom pb-2">
    <div class="col-md-2">Image</div>
    <div class="col-md-2">Product name</div>
    <div class="col-md-1">code</div>
    <div class="col-md-1">Available</div>
    <div class="col-md-1">Price</div>
    <div class="col-md-2">Rating</div>
    <div class="col-md-3"></div>
  </div>

  <ng-container *ngFor="let product of products">
    <div class="row border-bottom pb-2 pt-2" *ngIf="product.deleting"><h3>Deleting ... </h3></div>
    <div class="row border-bottom pb-2 pt-2" *ngIf="!product.deleting">
      <div class="col-md-2"><img class="img-fluid" src={{product.imageUrl}}></div>
      <div class="col-md-2">{{product.productName}}</div>
      <div class="col-md-1">{{product.productCode}}</div>
      <div class="col-md-1">{{product.releaseDate}}</div>
      <div class="col-md-1">{{product.price | currency:'USD':symbol:'1.2-2' }}</div>
      <div class="col-md-2">{{product.starRating}}</div>
      <div class="col-md-3 text-right">
        <button type="button" class="btn btn-primary btn-sm mr-1" [routerLink]="['/product', product.id]">View</button>
        <button type="button" class="btn btn-primary btn-sm mr-1">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button>
      </div>
    </div>
  </ng-container>
  <div class="row pt-4">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-primary">Add product</button>
    </div>
  </div>
</ng-container>