<ng-container *ngIf="loading">
    <h2>Loading ... </h2>
</ng-container>
<ng-container *ngIf="!loading">
<div class="row mb-3 mt-3">
  <h1>{{product.productName}}</h1>
</div>

<div class="row border-bottom pb-2">
  <div class="col-md-4">
    <img class="img-fluid" src={{product.imageUrl}}>
  </div>
  <div class="col-md-8">
    <dl class="row">
      <dt class="col-sm-3">Product code</dt>
      <dd class="col-sm-9">{{product.productCode}}</dd>
    
      <dt class="col-sm-3">Price</dt>
      <dd class="col-sm-9">
          {{product.price | currency:'USD':symbol:'1.2-2' }}
      </dd>
    
      <dt class="col-sm-3">Release Date</dt>
      <dd class="col-sm-9">{{product.releaseDate}}</dd>
    
      <dt class="col-sm-3 text-truncate">Rating</dt>
      <dd class="col-sm-9">{{product.starRating}}</dd>

      <dt class="col-sm-3 text-truncate">Tags</dt>
      <dd class="col-sm-9">
          <ng-container *ngIf="product.tags">
            <span class="badge badge-pill badge-primary mr-2" *ngFor="let tag of product.tags">{{tag}}</span>
          </ng-container>
      </dd>
    </dl>
    <p>{{product.description}}</p>
  </div>
</div>

<div class="row pt-4">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-primary" [routerLink]="['/list']">Back to list</button>
    </div>
  </div>
</ng-container>