<div class="row mb-3 mt-3">
  <h1>Leaf Rake</h1>
</div>

<div class="row border-bottom pb-2">
  <div class="col-md-4">
    <img class="img-fluid" src="http://via.placeholder.com/500x500">
  </div>
  <div class="col-md-8">
    <dl class="row">
      <dt class="col-sm-3">Product code</dt>
      <dd class="col-sm-9">GDN-0011</dd>
    
      <dt class="col-sm-3">Price</dt>
      <dd class="col-sm-9">
          19.95
      </dd>
    
      <dt class="col-sm-3">Release Date</dt>
      <dd class="col-sm-9">March 19, 2016</dd>
    
      <dt class="col-sm-3 text-truncate">Rating</dt>
      <dd class="col-sm-9">3</dd>

      <dt class="col-sm-3 text-truncate">Tags</dt>
      <dd class="col-sm-9">
        <span class="badge badge-pill badge-primary mr-2">Primary</span>
        <span class="badge badge-pill badge-primary mr-2">Primary</span>
        <span class="badge badge-pill badge-primary mr-2">Primary</span>
        <span class="badge badge-pill badge-primary mr-2">Primary</span>
      </dd>
    </dl>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
  </div>
</div>

<div class="row pt-4">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-primary" [routerLink]="['/list']">Back to list</button>
    </div>
  </div>